<!-- Button trigger modal -->
<a data-toggle="modal" data-target="#myModalhelp" style="cursor:pointer">
  <h4><span class="glyphicon glyphicon-question-sign"></span> Click here for help!</h4>
</a>

<!-- Modal -->
<div class="modal fade" id="myModalhelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">

          <div align="center" class="top_logo">
            <h1><b>Welcome to GroupUp!</b></h1>
            <h3>
              Here is a general user guide to help our Groupers
            </h3> 
          </div>

        <!-- ........................................................................... -->



        <!-- ...........................................................................
            ............................................................................
            Main part : Contents
        -->

          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
              <h2 class="steps" style="color:#5bc0de">Step 1 - Adding Classes</h2>
              <p class="indent">
                Before joining any group, you need to find your classes first!<br><br>Add your classes by clicking <b>"Add another class"</b> and the drop down menu will appear. As soon as you click one of the classes from the list, it will automatically add that class for you.  
              </p>
              <img class="img-responsive" src="images/help_1.jpg">
            </div>
            <div class="col-md-12">
              <h2 class="steps" style="color:#5bc0de">Step 2 - Viewing Groups</h2>
              <p class="indent">
                You can find a list of your saved classes on the left. If you click a specific class, it will 
                direct you to the class page.<br><br>Here, you can see the full list of groups associated with each class. If you are not a member of a group, you <b>will not</b> be able to see any relevant information until you join. 
              </p>
              <img class="img-responsive" src="images/help_2.jpg" style="padding:10px;">
           </div>
            <div class="col-md-12">
              <h2 class="steps" style="color:#5bc0de">Step 3 - Meeting With Your Group</h2>
              <p class="indent">
                After choosing class, we will show the the groups already formed by other Groupers.
                There are two different types of groups that you will be able to join: one type is IN-PERSON and the other
                is ONLINE.<br><br><b>IN-PERSON:</b> joining an in person group will show you the time, place, and number of people for the group meetings.<br><b>ONLINE:</b> joining an online group you will be given access to the website the group is being held.
              </p>
              <p class="indent">
                If you do not like groups already formed, you can always create one yourself
                by clicking CREATE GROUP button on the side!
              </p>
              <img class="img-responsive" src="images/help_3.JPG" style="padding:10px;">
            </div>
          </div>
        </div> <!-- Finish help contents! -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>