<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GroupUp!</title>

    {{> commonCSS }}

    <!-- Custom styles for this template -->
    <link href="css/groupup.css" rel="stylesheet">


  </head>

  <body>
    <!--                        Start Body                            -->

    <!-- ...........................................................................
        ............................................................................
        This is Header & Naviagation bar & Drop Down menu!
    -->
    <!-- Static Nav Bar Partial is in /views/partials/staticNacBar.handlebars -->
    {{> staticNavBar }}

    <!-- ........................................................................... -->


    <!-- ...........................................................................
        ............................................................................
        Second part : logo, page menu logo
    -->
    <div class="container">
      <div align="center" class="top_logo">
        <h1><b>Help</b></h1>
        <h3>
          This is the general user guide to help our Groupers!
        </h3> 
      </div>
    </div> <!-- /container -->
    <!-- ........................................................................... -->



    <!-- ...........................................................................
        ............................................................................
        Main part : Contents
    -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 style="color:#5bc0de">Step 1</h2>
          <p class="indent">
            Before joining any group, you need to find your classes first!
            You can add your classes by clicking "Add another class" and the drop down menu
            will appear. As soon as you click one of the classes from the list, it will 
            automatically add that class for you. 
          </p>
          <img src="images/help1.png">
        </div>
        <div class="col-md-4" id="mypagebody">
          <h2 style="color:#5bc0de">Step 2</h2>
          <p class="indent">
            This is a list of your saved classes on your left. If you click on the subject, it will 
            direct you to the class page. From the class page, you can see the full list
            of groups associated. If you are not in that group, you would not see any relevant 
            information until you join. 
          </p>
          <img src="images/help2.png" style="padding:10px;">
       </div>
        <div class="col-md-4">
          <h2 style="color:#5bc0de">Step 3</h2>
          <p class="indent">
            After choosing class, we will show the the groups already formed by other Groupers.
            There are two different lists for the group: one type is IN-PERSON and the other
            is ONLINE. If you click a group from IN-PERSON, it will show you information about
            group meetings. If you choose ONLINE instead, it will go to the form pages.
          </p>
          <p class="indent">
            If you do not like groups already formed, you can always create one yourself
            by clicking CREATE GROUP button on the side!
          </p>
          <img src="images/help3.png" style="padding:10px;">
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> commonJS }}

    <!--                        End Body                            -->
  </body>
</html>
