<!doctype html>

<html>
<head>
   <title>Setting</title>  
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- this is a comment in HTML -->

    
    {{> commonCSS }}
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/introHCI.css" rel="stylesheet">
    <link href="css/groupup.css" rel="stylesheet">

</head>

<body>
    <!-- Static Nav Bar Partial is in /views/partials/staticNacBar.handlebars -->
    {{> staticNavBar }}
    
    <!-- ........................................................................... -->


    <!-- ...........................................................................
        ............................................................................
        Second part : logo, page menu logo
    -->
    <div class="container">
      <div align="center" class="top_logo">
        <h1>Setting</h1>
      </div>
    </div> <!-- /container -->
    <!-- ........................................................................... -->



    <!-- Main part : Contents -->
    <div class="container">
      <!-- Setting changes/Account Information -->



  <form action="setting"> <!--To be changed to rewrite info-->
  
  <fieldset>
    <legend>Personal Information:</legend>
    Edit your name: 
    <input type="text" name="name">
    <input type="submit" value="Submit"> <br><br>
    Change your email: 
    <input type="text" name="email">
    <input type="submit" value="Submit"><br><br>
  </fieldset> <br>
  <fieldset>
    <!--Account information (password)-->
    <legend>Account Information:</legend>
  <form class="pure-form">
      <fieldset>
        Change Password:
        <input type="password" placeholder="Password" id="password" name="password">
        <input type="password" placeholder="Confirm Password" id="confirm_password">
        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
  </form>
  </fieldset>
  </form>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{> commonJS }}

    <!--                        End Body                            -->
  </body>
</html>
