<!doctype html>

<html>
<head>
   <title>Sign Up page</title>  
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- this is a comment in HTML -->
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>


</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Sign Up!</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="login">

        <form action="/signupAction" method="post" onsubmit="return validateForm()">

          <fieldset class="clearfix">
            <p><span class="fa fa-user"></span><input id="name" name="name" type="text" placeholder="NAME" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p align="center">Your username cannot be changed </p>
            <p><span class="fa fa-tag"></span><input id="id" name="id" type="text" placeholder="USERNAME" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-envelope"></span><input id="email" name="email" type="text" placeholder="EMAIL" required></p> 
            <br>
            <p><span class="fa fa-unlock-alt"></span><input id="password" name="password" type="password"  
                     placeholder="PASSWORD" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><span class="fa fa-lock"></span><input  id="confirm_password" type="password" name="confirm_password"  
                     placeholder="CONFIRM PASSWORD" required></p>
            <p><input type="submit" value="Sign Up"></p>

          </fieldset>
        </form>


        <p style="color:white">Already a member? 
          {{#if child}}
            <a href="/child">Sign in!</a>
          {{else}}
            <a href="/">Sign in!</a>
          {{/if}}

        <span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>


  {{> commonJS }}
  <script type="text/javascript">
    //checking password validation before post action
    function validateForm (  ) {
      
      var id = $("#id").val();
      var password = $("#password").val();
      var confPass = $("#confirm_password").val();
      console.log(id);
      console.log(password);
      console.log(confPass);
      if ( password != confPass ){
        alert( "Your password is not matched");
        return false;
      }
      /*
      console.log(data);
      //checking id duplications
      $.getJSON("myGroups.json", function(data) {
        console.log(data);ß
        alert("OMG");
        return false;
      });
      return false;
      console.log(data[0].id);
      console.log(data[2].id);
      for(var i=0; i <data.length; i++) {
        console.log(data[i].id);
        if(id == data[i].id) {
          console.log("ID duplicate");
          alert( "Try differnt ID");
          return false;
        }
      }*/
      return true;
    }
  </script>
  </body>

</html>
