<!doctype html>

<html>
<head>
   <title>Sign Up page</title>  
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- this is a comment in HTML -->

    
    {{>commonCSS}}
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>

</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Sign Up!</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="login">

        <form action="/signupAction" method="post" onsubmit="return validateForm()">

          <fieldset class="clearfix">
            <h3> If the submit does not work, please check your passwords </h3>
            <p><span class="fa fa-user"></span><input id="name" name="name" type="text" onBlur="if(this.value == '') this.value = 'Name'" onFocus="if(this.value == 'Name') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-user"></span><input id="id" name="id" type="text" onBlur="if(this.value == '') this.value = 'ID'" onFocus="if(this.value == 'ID') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-envelope"></span><input id="email" name="email" type="text" onBlur="if(this.value == '') this.value = 'Email'" onFocus="if(this.value == 'Email') this.value = ''" required></p> 
            <br>
            <p><span class="fa fa-unlock-alt"></span><input id="password" name="password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><span class="fa fa-lock"></span><input  id="confirm-password" type="password" name="confirm-password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p>
            <p><input type="submit" value="Sign Up"></p>

          </fieldset>
        </form>

        <p>Already a member? <a href="\">Sign in!</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>


  {{> commonJS }}
  <script type="text/javascript">
    //checking password validation before post action
    function validateForm (  ) {
      var password = $("#password").val();
      var confPass = $("#confirm-password").val();
      if ( password != confPass ){
        alert( "Your password is not matched");
        return false;
      }
      return true;
    }
  </script>

  </body>

</html>

