@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  /* min-height: 2000px; */
  background-color: #eeeeee;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Lato', 'Playfair Display', serif;
}

h3 {
  font-family: 'Lato', 'Oswald', sans-serif;
}
#body_left {
  background:white; opacity:0.6; float:left; margin-top:20px;
  position: fixed; border-radius: 5px; text-align: center; margin-right: 0px;
}

#mypagebody {
	  background-color: #eee;
    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    /*padding:10px;*/
    border: 0px solid #800000;
}

.container {
   margin-top: 0px;
    padding-top: 0px;
	/*height: 70px;*/
}

.container p {
    margin: 2px;
    padding: 3px;
}

.elem_list {
    line-height: 300%;
}

.group_descrpt {
    background-color: #eee;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 0px solid #800000;
}


.navbar-static-top {
  margin-bottom: 19px;
}

/*.indent {
  text-indent: 30px;
}*/)

.form {
  width: 100%;
  margin-bottom: 2rem;
}

.fillin {
  width: 100%;
  margin-bottom: 2rem;
}

.groupJoin {
  width: 200px;
}

#bottom {
  margin-bottom: 2rem;
}

#end {
  margin-bottom: 2em;
}

h2.group-name {
  text-transform: uppercase;
  font-weight: bold;
}

#icons img{
  overflow: hidden;
  display: inline;
}

#group_info {
  line-hight: .5;
}

#descr {
  text-transform: uppercase;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

.panel {
  background-color: white;
}

.panel:hover {
  background-color:;
}

.panel-body {
  background-color: white;
}

/* Button color in Group page */

.no-click {
  pointer-events: none;
}

#online.btn {
  background-color: #ffed4a;
  border-color: #ffed4a;
}

#in-person.btn {
  background-color: #a8e0ff;
  border-color: #F0F8FF;
  color: #3e517a;
}

#online.btn {
  background-color: #8ee3f5;
  border-color: #F0F8FF;
  color: #3e517a;
}

#create_fromClass.btn {
  color: #3e517a;
}

#group_detail.btn {
  background-color: #FFFAF0;
  border-color: #FFF0F5;
  color: #3e517a;
}

#allclass.btn {
  background-color: #3e517a;
  border-color: #F0FFFF;
}

#allclass.btn:hover {
  background-color: #819592;
}

#allclass a {
  color:#eee;
}

/*
#in-person.btn:hover {
  background-color: #3e517a;;
  border-color: #3e517a;;
  color: #FFF0F5;
}

#online.btn:hover {
  background-color: #3e517a;
  border-color: #3e517a;
  color: #FFF0F5;
}
*/
#forumLink {
  background-color: #529399;
}

#forumLink a {
  color: #eee;
}

#forumLink:hover {
  background-color: #3e517a;
}

.class-name {
  text-transform: lowercase;
}

.class-name:first-letter {
  text-transform: uppercase;
};

/* main dropdown button*/

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Loading icon */
#message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Help Page */

.steps {
  text-transform: uppercase;
}




